header{
    margin: 0px;
    padding: 0px;
}
body{
    margin:0px;
    padding:0px;
}
.top{
    display: flex;
    justify-content: space-between;
}
.left-text{
    display: flex;
    list-style-type: none;
}
.right-text{
    display: flex;
    list-style-type: none;
    margin-right:3%;
}
.left-text li{
    padding: 5px;
}
.right-text li{
    padding: 5px;
}

.middle{
    display: flex;
    justify-content: space-evenly;
}
.middle-section{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
.middle-section .logo{
    display: block;
    border: 1px red solid;
    padding: 10px;
}
.middle-section .search{
    padding-left:2%;
}
.middle-section input{
    display: block;
    width: 40rem;
    padding: 1.6%;
}
.middle-section .past-icon{
    padding-left: 10%;
}

.middle-section .cart-picture{
    padding-left: 10%;
}

.bottom{
    text-align: center;
    background-color: #ED1B2E;
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    color: white;
    padding: 10px 30px;
    font-size: 1.5rem;
}

nav{
    display: flex;
    text-align: center;
}
nav li{
    border: white 1px solid;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: white;
    height: 12%;
    display: flex;
    justify-content: space-between;
    
}

.left-footer{
    display: flex;
    list-style-type: none;
    padding: 1%;
    margin: 1rem;
}
.left-footer a{
    color: white;
}
.left-footer li{
    padding-left: 1rem;
    padding-right: 1rem;
}
.right-footer{
    display: flex;
    list-style-type: none;
    padding: 1%;
    margin: 1rem;
}

.right-footer a{
    color: white;
}

.right-footer li{
    padding-left: 1rem;
    padding-right: 1rem;
}